<!DOCTYPE html>
<title>Activity</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activity.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/activity.js') }}"></script>
    <title>Activity</title>
</head>
<body>
    <div class="container">
        <h1>Activity</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody id="activity-table-body">
                        {% for activity in activities %}
                        <tr>
                            <td>{{ activity.timestamp }}</td>
                            <td>{{ activity.description }}</td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>
